name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"
          cache: "pip"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"

      - name: Type check
        run: |
          mypy real_simple_stats tests --exclude '(site-packages|\.venv|venv)'

      - name: Lint
        run: |
          ruff check .

      - name: Test
        run: |
          pytest -q --maxfail=1
